{% extends "layouts/base.html" %}

{% block body %}
<div class="container mt-3 pt-3">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header d-flex">
                        <h5>Absender</h5>
                        {% if form.user_id.data %}
                            <button type="button" id="user_edit" class="btn btn-primary btn-sm ml-auto">edit</button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {% set user = true if form.user_id.data else false %}
                        <div class="form-group">
                            {{ form.user_id.label }}
                            {{ form.user_id(class_="form-control rs-person-id", readonly=true) }}
                        </div>
                        <div class="form-group">
                            {{ form.vorname.label }}
                            {{ form.vorname(class_="form-control rs-person", readonly=user) }}
                        </div>
                        <div class="form-group">
                            {{ form.nachname.label }}
                            {{ form.nachname(class_="form-control rs-person", readonly=user) }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class_="form-control rs-person" + (" is-invalid" if form.email.errors else ""), readonly=user) }}
                            {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.telefon.label }}
                            {{ form.telefon(class_="form-control rs-person", readonly=user) }}
                        </div>
                        <div class="form-group">
                            {{ form.instagram.label }}
                            {{ form.instagram(class_="form-control rs-person", readonly=user) }}
                        </div>
                        <div class="form-group">
                            {{ form.twitter.label }}
                            {{ form.twitter(class_="form-control rs-person", readonly=user) }}
                        </div>
                        <div class="form-group">
                            {{ form.facebook.label }}
                            {{ form.facebook(class_="form-control rs-person", readonly=user) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">

                <div class="card">
                    <div class="card-header d-flex">
                        <h5>Gestein</h5>
                        {% set gestein = true if form.gestein_id.data else false%}
                        {% if gestein %}
                            <button type="button" id="gestein_edit" class="btn btn-primary btn-sm ml-auto">edit</button>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.gestein_id.label }}
                                {{ form.gestein_id(class_="form-control rs-gestein-id", readonly=true) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.gestein.label }}

                                {{ form.gestein(class_="form-control  rs-gestein" + (" is-invalid" if form.gestein.errors else ""), readonly=gestein) }}
                                {% for error in form.gestein.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <h5 class="card-header">Stein</h5>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.stein_id.label }}
                                {{ form.stein_id(class_="form-control", readonly=true) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.herkunft.label }}
                                {{ form.herkunft(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.longitude.label }}
                                {{ form.longitude(class_="form-control" + (" is-invalid" if form.longitude.errors else "")) }}
                                {% for error in form.longitude.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.latitude.label }}
                                {{ form.latitude(class_="form-control" + (" is-invalid" if form.latitude.errors else "")) }}
                                {% for error in form.latitude.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.titel.label }}
                            {{ form.titel(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.bild_stein.label }}
                            {{ form.bild_stein(class_="form-control" + (" is-invalid" if form.bild_stein.errors else "")) }}
                            {% for error in form.bild_stein.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% if stein %}
                                <img id="img_stein" src="{{ url_for('static', filename='img/steine/'+stein) }}">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.bild_herkunft.label }}
                            {{ form.bild_herkunft(class_="form-control" + (" is-invalid" if form.bild_herkunft.errors else "")) }}
                            {% for error in form.bild_herkunft.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                            {% endfor %}
                            {% if herkunft %}
                                <img id="img_herkunft" src="{{ url_for('static', filename='img/steine/{}'.format(herkunft)) }}">
                            {% endif %}
                            <script>
                                document.getElementById('bild_stein').addEventListener('change', function() {
                                    if ( this.files.length != 0)
                                        document.getElementById('img_stein').style.display = 'none';
                                    else
                                        document.getElementById('img_stein').style.display = 'block';
                                });
                                document.getElementById('bild_herkunft').addEventListener('change', function() {
                                    if ( this.files.length != 0)
                                        document.getElementById('img_herkunft').style.display = 'none';
                                    else
                                        document.getElementById('img_herkunft').style.display = 'block';
                                });
                                {% if user %}
                                document.getElementById('user_edit').addEventListener('click', function() {
                                    let pers = document.getElementsByClassName('rs-person');
                                    for( let i = 0; i<pers.length; i++){
                                        pers[i].readOnly = false;
                                    }
                                });
                                {% endif %}

                                {% if gestein %}
                                document.getElementById('gestein_edit').addEventListener('click', function() {
                                    document.getElementsByClassName('rs-gestein')[0].readOnly = false
                                });
                                {% endif %}
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="form-group">
                    {{ form.pers_geschichte.label }}
                    {{ form.pers_geschichte(class_="form-control", rows=10) }}
                </div>
                <div class="form-group">
                    {{ form.geo_geschichte.label }}
                    {{ form.geo_geschichte(class_="form-control", rows=10) }}
                </div>
            </div>
            <div class="col-12">
                {{ form.submit(class_="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('reisesteine.listSteine') }}">Verwerfen</a>
            </div>
        </div>
    </form>
    <br><br><br>
</div>

{% endblock %}