{% extends "layouts/base.html" %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">{{_('Neuer Stein')}}</h5>
        <div class="card-body">
            <form action="{{ url_for('reisesteine.newStein') }}" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-sm-3 my-1">
                        <label class="sr-only" for="inlineFormInputName">{{_('Gestein')}}</label>
                        <input name="gestein" type="text" class="form-control" id="inlineFormInputName" placeholder="{{_('Gestein')}}" required>
                    </div>
                    <div class="col-sm-3 my-1">
                        <label class="sr-only" for="inlineFormInputGroupUsername">{{_('Email Einsender')}}</label>
                        <div class="input-group">
                            <input name="email" type="email" class="form-control" id="inlineFormInputGroupUsername" placeholder="{{_('Email Einsender')}}">
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary">{{_('Erstellen')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 pt-3">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{_('Gestein')}}</th>
            <th scope="col">{{_('Herkunft')}}</th>
            <th scope="col">{{_('Einsender')}}</th>
            <th scrope="col">{{_('Veröffentlicht')}}</th>
            <th scrope="col"></th>
            <th scrope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for stein in steine %}
        <tr>
            <th scope="row">{{stein.id}}</th>
            <td>{{stein.gesteinsart}}</td>
            <td>{{stein.herkunft}}, {{stein.land}}</td>
            <td>{{stein.absender}}</td>
            <td>
                {% if stein.published %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" height="24px">
                        <polygon fill="#43A047" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"/>
                    </svg>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" height="24px">
                        <path fill="red" d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/>
                    </svg>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('reisesteine.editStein', id=stein.id) }}" class="btn btn-primary btn-sm">{{_('editiern')}}</a>
            </td>
            <td>
                <a href="{{ url_for('reisesteine.deleteStein', id=stein.id) }}" onclick="return confirm('{{_('Eintrag Löschen?')}}')" class="btn btn-danger btn-sm">{{_('löschen')}}</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/><br/><br/><br/>
</div>
{% endblock %}