<svg class="rs-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <path d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/>
</svg>

<div id="rs-title">
    <p>Reisesteine</p>
    <p>Eine interaktive virtuelle Ausstellung des focusTerra</p>
</div>

<div id="rs-nav-background" class="circle">
    <div id="rs-small-navigation">
            <a id="rs-small-home" href="/"><img src="{{ url_for('static', filename='img/logo.svg') }}"/></a>
            <a id="rs-small-menu" href="#" >
                <img src="{{ url_for('static', filename='img/sandwich_button.svg') }}"/>
            </a>
            <span>
                <a id="rs-small-de" href="/de">de</a> / <a id="rs-small-en" href="/en">en</a>
            </span>
    </div>

    <div id="rs-nav">
        <div>
            <a id="rs-nav-home" class="rs-logo" href="/"><img src="{{ url_for('static', filename='img/logo.svg') }}"/></a>
            <span class="rs-title">Reisesteine</span>
        </div>
        <div class="rs-nav-indexpages">
            <a id="rs-nav-steine" href="#">Steine</a>
            <a id="rs-nav-geschichten" href="#">Geschichten</a>
            <a id="rs-nav-fundorte" href="#">Fundorte</a>
            <a id="rs-nav-geologie" href="#">Geologie</a>
        </div>

        <div class="rs-nav-impressum">
            <a id="rs-nav-about"href="">Über Uns</a>
            <a id="rs-nav-participate"href="">Mitmachen</a>
        </div>

        <div class="rs-nav-controls">
            <svg id="rs-nav-close" xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 48 48">
                <path d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/>
            </svg>
            <span>
                <a id="rs-nav-de" href="/de">de</a> / <a id="rs-nav-en" href="/en">en</a>
            </span>
        </div>
    </div>
</div>