<svg id="rs-closeAll" class="rs-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <path d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/>
</svg>
<svg id="rs-closeFundort" class="rs-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
    <path d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/>
</svg>

<div id="rs-title">
    <p>{{_('Reisesteine')}}</p>
    <p>{{_('Eine interaktive virtuelle Ausstellung von')}} <b><i>focus</i>&#8239;Terra</b></p>
</div>

<div id="rs-nav-background-wrapper">
    <div id="rs-nav-background">
        <div id="rs-small-navigation">
                <a id="rs-small-home" href="{{ url_for('reisesteine.index') }}"><img src="{{ url_for('static', filename='img/logo.svg') }}"/></a>
                <a id="rs-small-menu" href="#" >
                    <img src="{{ url_for('static', filename='img/sandwich_button.svg') }}"/>
                </a>
                <span>
                    <a id="rs-small-de" href="/de">de</a> / <a id="rs-small-en" href="/en">en</a>
                </span>
        </div>
    </div>
</div>

<div id="rs-nav">
    <svg class="rs-nav-line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 761.89 777.74">
        <path d="M1.5,35.25s4.37,3.27,12.57,8.17"/>
        <path d="M22.73,48.36C65.84,71.9,170.49,114.11,298.81,60.73,421.13,9.85,492.41-6.8,559.62,7.32S759.39,79,759.39,189.4,667.83,311.54,592.92,311.54,472.47,384,512.46,426.09C601.25,519.55,645,594.6,595.69,689.51c-24,46.24-64.69,68.83-123.8,76.82"/>
        <path d="M466.93,767q-7.28.87-14.93,1.46"/>
        <path class="rs-nav-dot" d="M451.78,759a9.4,9.4,0,1,0,10.06,8.69A9.4,9.4,0,0,0,451.78,759Z"/>
    </svg>
    <a id="rs-nav-home" class="rs-logo" href="/"><img src="{{ url_for('static', filename='img/logo.svg') }}"/></a>
    <div class="rs-nav-wrapper">
        <span class="rs-title">{{_('Reisesteine')}}</span>

        <div class="rs-nav-indexpages">
            <a id="rs-nav-steine" href="#">{{_('Alle')}} {{_('Steine')}}</a>
            <a id="rs-nav-geschichten" href="#">{{_('Alle')}} {{_('Geschichten')}}</a>
            <a id="rs-nav-fundorte" href="#">{{_('Alle')}} {{_('Fundorte')}}</a>
            <a id="rs-nav-geologie" href="#">{{_('Alle')}} {{_('Gesteinsarten')}}</a>
        </div>

        <div class="rs-nav-impressum">
            <a id="rs-nav-participate"href="{{ url_for('reisesteine.mitmachen') }}">{{_('Mitmachen')}}</a>
            <a id="rs-nav-about"href="{{ url_for('reisesteine.about') }}">{{_('Über REISESTEINE')}}</a>
        </div>
    </div>
    <div class="rs-nav-controls">
        <svg id="rs-nav-close" xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 48 48">
            <path d="M38 12.83l-2.83-2.83-11.17 11.17-11.17-11.17-2.83 2.83 11.17 11.17-11.17 11.17 2.83 2.83 11.17-11.17 11.17 11.17 2.83-2.83-11.17-11.17z"/>
        </svg>
        <span>
            <a id="rs-nav-de" href="/de">de</a> / <a id="rs-nav-en" href="/en">en</a>
        </span>
    </div>
</div>
