/************************** GENERAL ******************************************/
html {
    font-size: 16px;
}

body.rs-frontend {
    height:100vh;
    width:100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(20,80,30);
}

 div {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 960px) {
    #rs-body {
        position: absolute;
        top: 0px;
        left:0px;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .leaflet-control-attribution {
        font-size: 8px!important;
    }
}

/************************** MAP ******************************************/
#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/************************** CAPTIONS ******************************************/
h1 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3.4rem;
    margin: 0 0 -0.5rem 0;
    color: rgb(20,80,30);
}

h2 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3.0rem;
    margin: 15px 0 0 0;
    color: rgb(20,80,30);
}

h3 {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0 0 -5px 0;
    color: rgb(20,80,30);
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: rgb(180, 30, 30);
    margin: 2px auto 2px auto;
}

h4.active {
    font-weight: 700;
}

/************************** CONTENT ******************************************/
.rs-coordinates {
    position: absolute;
    bottom: 20vh;
    left: 70vw;
    width: 20vw;
    margin-left: -10vw;
    z-index: 3;
    text-align:center;
}


@media only screen and (max-width: 960px) {
    .rs-coordinates {
        position: relative;
        bottom: auto;
        left: auto;
        width: 100%;
        margin-left: 0;
        margin-top: 40vh;
    }
}

.rs-content .rs-text {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    width: 35%;
    position: absolute;
    left: 20%;
    top: 25%;
    opacity: 0;
}

.rs-content .rs-bild {
    height: 40vh;
    z-index: 3;
    position: absolute;
    top: 23vh;
    left: 25vw;
    filter: drop-shadow(5px 5px 5px #222);
}

.rs-content .rs-fundort {
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
    user-select: none;
    cursor: grab;
    opacity: 0;
    width: 100px;
}

.rs-content .rs-fundort:active {
    cursor: grabbing;
}

@media only screen and (max-width: 960px) {
    .rs-content {
        position: relative;
        display: flex;
        flex-direction: column;
        z-Index: 3;
        padding-bottom: 50px;
    }

    .rs-content .rs-bild {
        position: static;
        top: auto;
        left: auto;
        height: 200px;
        margin: 50px auto 0 auto;
    }

    .rs-content .rs-fundort {
        position: static;
        top: auto;
        left: auto;
        opacity: 1;
        width: 80%;
        margin: 50px auto 0 auto;
        filter: drop-shadow(5px 5px 5px #222);
        touch-action: auto;
        user-select: auto;
    }
    
    .rs-content .rs-text {
        position: static;
        top: auto;
        left: auto;
        opacity: 1;
        width: 90%;
        margin: 50px auto 0 auto;
        font-size: 1rem;
    }
}

/************************** NAVIGATION ROCK ******************************************/

.rs-footer {
    position: absolute;
    bottom: 40vh;
    right: 30px;
    width:15vw;
    height: 15vh;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.rs-footer h4 {
    cursor: pointer;
}

.rs-footer div {
    margin: auto auto 5px auto;
}

.rs-footer svg {
    z-index: 4;
    height: 30px;
    width: 30px;
    fill: rgb(180, 30, 30);
}


@media only screen and (max-width: 960px) {
    .rs-footer {
        display: none;
    }
}

/************************** SVG OVERLAY ******************************************/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    touch-action: none;
    user-select: none;
}

#svg-path {
    touch-action: none;
    user-select: none;
}

/************************** NAVIGATION ******************************************/
#rs-navigation {
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: rgba(256, 256, 256, 0.75);
    z-index: 4;
    display: flex;
    flex-direction: column;
}

#rs-navigation.circle{
    width:230px;
    height:230px;
    border-radius:50%;
    padding: 30px;
}

#rs-navigation img {
    height: 50px;
}

#rs-navigation span {
    margin: 6px auto 6px auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: rgb(180, 30, 30)
}

#rs-navigation.active {
    background-color: transparent!important;
}

.rs-close {
    position: absolute;
    z-index: 4;
    top: 50px;
    right: 50px;
}

@media only screen and (max-width: 960px) {
    #rs-navigation {
        position: relative;
        top: 0;
        left: 0;
        margin: 10px auto 10px auto;
    }
     
    #rs-navigation.circle{
        width:170px;
        height:170px;
        border-radius:50%;
        padding: 20px;
    }
    
    #rs-navigation img {
        height: 40px;
    }
    
    #rs-navigation span {
        margin: 4px auto 4px auto;
        font-size: 1.4rem;
    }

    #rs-navigation.active {
        display: none;
    }
}

/************************** REISESTEINE DRAGGABLE ******************************************/
.rs-reisesteine {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
    user-select: none;
    cursor: grab;
    padding: 200px;
}

.rs-reisesteine:active {
    cursor: grabbing;
}

.rs-reisesteine>div {
    margin: 25px 100px;
    height: 300px;
    width: 300px;
    background-color: white;
}

.rs-reisesteine img {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(5px 5px 5px #222);
}


/************************** BACKEND ******************************************/
.form-group img {
    height: 150px;
    margin-top: 20px;
}