/************************** GENERAL ******************************************/
html {
    font-size: 16px;
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
}

body.rs-frontend {
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width:100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(24, 38, 50);
}

 div {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1025px) {
    #rs-body {
        position: absolute;
        top: 0px;
        left:0px;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .leaflet-control-attribution {
        font-size: 8px!important;
    }
}

#rs-site-content, #rs-site-content a {
    color: white;
    overflow: hidden;
}


/************************** MAP ******************************************/
#map {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
}

/************************** CAPTIONS ******************************************/
h1 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3.4rem;
    margin: 0 0 -0.5rem 0;
    color: rgb(24, 38, 50);
    text-transform: uppercase;
}

h2 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3.0rem;
    margin: 15px 0 0 0;
    color: rgb(24, 38, 50);
}

h3 {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 -5px 0;
    color: rgb(24, 38, 50);
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: rgb(180, 30, 30);
    margin: 2px auto 2px auto;
}

h4.active {
    font-weight: 700;
}


@media only screen and (max-width: 1025px) {
    h1 {
        font-size: 2.55rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.275rem
    }
}


@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2rem;
    }
}

/************************** REISELINIEN ******************************************/
.rs-svg {
    position: fixed;
    height: 100%;
    width: 100vw;
    z-Index: 2;
    opacity: 1;
}
.rs-stein-svg {
    top: 0;
    left: 0;
}

.rs-geschichte-svg {
    top: 0;
    left: 100vw;
}

.rs-geologie-svg {
    top: 0;
    left: 200vw;
}

.rs-path {
    fill:none;
    stroke-width:5px;
    stroke: #966e28;
    stroke-dasharray:30 10;
}

.rs-path-dot {
    fill: #966e28;
    stroke: none;
}


.rs-path-dot.rs-path-blue{
    fill: #145064;
    stroke: none;
}
.rs-path-dot.rs-path-brown{
    fill: #372d1e;
    stroke: none;
}
.rs-path-dot.rs-path-green{
    fill: #14501e;
    stroke: none;
}

.rs-path.rs-path-blue {
    stroke:#145064;
}

.rs-path.rs-path-brown {
    stroke:#372d1e;
}

.rs-path.rs-path-green {
    stroke:#14501e;
}

@media only screen and (max-width: 1025px) {
    .rs-svg {
        display: none;
    }
}

/************************** CONTENT ******************************************/
.rs-content {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100vw;
}

.rs-content>* {
    will-change: transform;
}

.rs-content .rs-coordinates {
    position: absolute;
    top: 20vh;
    left: 61vw;
    width: 24vw;
    padding-top: 18vw;
    z-index: 3;
    text-align: center;
}

@media only screen and (min-width: 1025px) and (max-height: 650px){
    .rs-content .rs-coordinates h2 {
        font-size: 2.2rem;
    }
}

.rs-content .rs-bild-wrapper {
    width: 40vw;
    min-width: 200px;
    height: 60vh;
    z-index: 3;
    position: absolute;
    top: 22vh;
    right: 45vw;
    filter: drop-shadow(5px 5px 75px #222);
}

.rs-content .rs-bild {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rs-content .rs-text {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.rs-content .rs-geschichte {
    position: absolute;
    min-width: 70%;
    top: 30vh;
    left: 115vw;
    z-index: 3;
    display: flex;
    align-items: flex-start;
}
.rs-geschichte .rs-text {
    width: 35vw;
    margin-right: 10vw;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.rs-geschichte .rs-fundort {
    width: 20vw;
    transform: rotate(-10deg);
    filter: drop-shadow(5px 5px 25px #222);
}

.rs-content .rs-fundort {
    cursor: pointer;
}

.rs-content .rs-fundort.active {
    touch-action: none;
    user-select: none;
    cursor: grab;
}

.rs-content .rs-fundort.active:active {
    cursor: grabbing;
}

.rs-content .rs-geologie {
    position: absolute;
    min-width: 70%;
    top: 27vh;
    left: 215vw;
    z-index: 3;
    display: flex;
    align-items: flex-start;
}

.rs-geologie .rs-text {
    width: 40vw;
    margin-right: 10vw;
}

.rs-geologie-bild {
    max-width: 20vw;
    max-height: 30vh;
    margin-top: 70px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 75px #222);
}


@media only screen and (max-width: 1600px) {
    .rs-content .rs-text {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1025px) {
    .rs-content {
        position: relative;
        display: flex;
        flex-direction: column;
        z-Index: 3;
        padding-bottom: 50px;
    }

    .rs-content .rs-coordinates {
        position: relative;
        bottom: auto;
        left: auto;
        top: auto;
        width: 100%;
        margin-left: 0;
        margin-top: 30vh;
    }

    .rs-content .rs-bild-wrapper {
        position: static;
        top: auto;
        left: auto;
        width: 80vw;
        height: auto;
        margin: 50px auto 25px auto;
        min-width: auto;
    }

    .rs-content .rs-geschichte, .rs-content .rs-geologie {
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .rs-content .rs-geschichte>div, .rs-geschichte>a>img , .rs-content .rs-geologie>* {
        margin: 50px 0;
        width: 90%;
    }

    .rs-content .rs-geschichte .rs-fundort {
        width: 75vw;
        touch-action: auto;
        user-select: auto;
    }

    .rs-geologie-bild {
        display: none;
    }

    .rs-content .rs-text {
        font-size: 1.1rem;
    }
}

/************************** NAVIGATION ROCK ******************************************/

.rs-footer {
    position: absolute;
    bottom: -90px;
    right: -70px;
    width: 250px;
    height: 250px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 30px;
}

.rs-footer.circle:hover {
    border-radius: 50%;
    background-color: rgba(256, 256, 256, 0.75);
}

.rs-footer h4 {
    cursor: pointer;
    margin-top: 6px;
}

.rs-footer svg {
    z-index: 4;
    height: 30px;
    width: 30px;
    fill: none;
    stroke: rgb(180, 30, 30);
    stroke-width: 4px;
}

.rs-footer-content {
    width: 200px;
    margin-left: -50px;
    margin-top: 10px;
}


.rs-chevron {
    position: absolute;
    top: 40%;
    z-index: 3;
    cursor: pointer;
    display:none;
}
.rs-chevron-right {
    right: 60px;
}

.rs-chevron-left {
    left: 60px;
    transform: rotate(180deg);
}

.rs-chevron svg {
    height: 50px;
    fill:none;
    stroke:#b41e1e;
    stroke-miterlimit:10;
    stroke-width:5px;
}

@media only screen and (max-width: 1025px) {
    .rs-footer {
        display: none;
    }
}


@media only screen and (max-width: 1200px) {
    .rs-footer {
        right: -100px;
    }
}

/************************** SVG OVERLAY ******************************************/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    touch-action: none;
    user-select: none;
}

#svg-path {
    touch-action: none;
    user-select: none;
}

/************************** SMALL NAVIGATION ******************************************/
#rs-small-navigation {
    display: flex;
    flex-direction: column;
}

#rs-small-navigation img {
    height: 40px;
}

#rs-small-menu img {
    height: 27px;
    margin-top: 13px;
}

#rs-small-navigation a {
    margin: 5px auto 3px auto;
    text-align: center;
    padding-left: 30px;
}

#rs-small-navigation span {
    text-align: center;
    padding-left: 30px;
    padding-top: 15px;
}

#rs-small-navigation span a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: rgb(180, 30, 30);
    padding-left: 0;
    text-decoration: none;
}

#rs-small-navigation a:first-child {
    margin-top: 75px;
}

#rs-nav-background.active #rs-small-navigation span {
    display: none;
}

#rs-small-uebersicht {
    position: absolute;
    top: 15px;
    left: 85px; 
}
#rs-small-uebersicht img {
    height: 37px;
    width: 37px;
}

.rs-close {
    position: absolute;
    z-index: 4;
    top: 50px;
    right: 50px;
    width: 55px;
    height: 55px;
    display: none;
    fill: rgb(180, 30, 30);
}

@media only screen and (max-width: 1025px) {

    #rs-small-navigation a:first-child {
        margin-top: 52px;
    }

    #rs-small-home img {
        height: 28px;
    }

    #rs-small-menu img {
        height: 18px;
        margin-top: 10px;
    }

    #rs-small-navigation span {
        padding-top: 7px;
        padding-left: 50px!important;
    }
    #rs-small-home {
        padding-left: 50px!important;
    }
    #rs-small-menu {
        padding-left: 50px!important;
    }

    #rs-small-navigation span a {
        font-size: 1rem;
    }

    .rs-close {
        top: 10px;
        right: 20px;
        width: 33px;
        height: 33px;
    }
    #rs-small-navigation span {
        padding-top: 10px;
    }
    #rs-small-navigation a {
        margin-top: 1px;
    }
}

/************************** NAVIGATION ******************************************/
#rs-nav-background{
    position: absolute;
    top: -70px;
    left: -80px;
    width: 230px;
    height: 230px;
    border-radius: 0 50% 50% 50%;
    padding: 30px;
    z-index: 4;
    background-color: rgba(256, 256, 256, 0.75);

}

#rs-nav-background.active {
    background-color: rgba(256, 256, 256, 0);
}

#rs-nav-background.active:hover {
    background-color: rgba(256, 256, 256, 0.65);
}

#rs-nav-background.active.open {
    background-color: rgba(256, 256, 256, 0.85);
}

#rs-nav-background-wrapper {
    width: 100% !important;
    min-width: 0 !important;
    max-width: none !important;
    height: 100% !important;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#rs-nav {
    position: absolute;
    left: -600px;
    top: 5vh;
    height: 95vh;
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

#rs-nav div {
    display:flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

#rs-nav .rs-nav-wrapper {
    justify-content: space-between;
    height: 100%;
    max-height: 780px;
    margin-bottom: 10vh;
}

#rs-nav-home, .rs-nav-controls, #rs-nav .rs-nav-wrapper {
    margin-left: 50px;
}

#rs-nav .rs-logo img{
    height: 50px;
    margin-top: 4vh;
}
#rs-nav .rs-title {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3.9rem;
    text-transform: uppercase;
    color: rgb(180, 30, 30);
    margin-top: 10vh;
}

#rs-nav .rs-nav-indexpages a{
    color: rgb(180, 30, 30);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}

#rs-nav .rs-nav-impressum a {
    color: rgb(180, 30, 30);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
}

#rs-nav .rs-nav-controls {
    margin-top: auto;
    margin-bottom: 75px;
}

#rs-nav .rs-nav-controls a, #rs-nav .rs-nav-controls span {
    color: rgb(180, 30, 30);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

#rs-nav .rs-nav-controls svg{
    fill: rgb(180, 30, 30);
    cursor: pointer;
}

.rs-nav-indexpages a:hover::before, .rs-nav-impressum a:hover::before {
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: rgb(180, 30, 30);
    display:inline-block;
    margin:0 10px 5px 5px;
}

#rs-nav .rs-nav-line {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 500px;
    height: 577px;
    stroke:#b41e1e;
    fill: none;
    stroke-dasharray: 30 10;
    stroke-width: 5px;
    z-index: -1;
}

#rs-nav .rs-nav-line .rs-nav-dot {
    stroke-dasharray: none;
    fill: #b41e1e;
}


@media only screen and (max-width: 1025px) {
    #rs-nav-background {
        width: 150px;
        height: 150px;
    }
    #rs-nav-home, #rs-nav .rs-nav-controls, #rs-nav .rs-nav-wrapper {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 600px) {
    #rs-nav .rs-nav-line {
        display: none;
    }
}

@media only screen and (max-width: 500px), (max-height: 630px) {
    #rs-nav .rs-title {
        font-size: 2.925rem;
    }
    
    #rs-nav .rs-nav-indexpages a{
        font-size: 1.5rem;
    }
    
    #rs-nav .rs-nav-impressum a {
        font-size: 1.5rem;
    }
    
    #rs-nav .rs-nav-controls a, #rs-nav .rs-nav-controls span {
        font-size: 1.35rem;
    }
}

@media only screen and (max-height: 750px) {
    #rs-nav .rs-nav-line {
        display: none;
    }
    #rs-nav .rs-title {
        margin-top: 5vh;
    }
    #rs-nav .rs-logo img{
        margin-top: 0;
    }
    #rs-nav .rs-nav-wrapper {
        margin-bottom: 5vh;
    }
}


@media only screen and (max-height: 550px) {
    #rs-nav .rs-title {
        display: none;
    }
    #rs-nav .rs-logo img{
        display: none;
    }
    #rs-nav .rs-nav-wrapper {
        margin-bottom: 0;
    }
}
@media only screen and (max-height:400px) {
    #rs-nav .rs-nav-indexpages a{
        margin-top: 10px;
    }
    
    #rs-nav .rs-nav-impressum a {
        margin-top: 10px;
    }
}

/************************** REISESTEINE DRAGGABLE ******************************************/
.rs-index {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    touch-action: none;
    -ms-user-select: none;
    user-select: none;
    cursor: grab;
    padding: 200px;
    will-change: transform;
}

.rs-index:active {
    cursor: grabbing;
}

.rs-index>div {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}

.rs-index div:active {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rs-index-reisesteine>div {
    margin: 20px 75px;
    height: 300px;
    width: 300px;
}

.rs-index-reisesteine img {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(5px 5px 50px rgba(34, 35, 35, 0.6));
}

.rs-index-geschichten>div {
    margin: 25px 25px;
    height: 150px;
    width: 350px;
    text-align: center;
}

.rs-index-geschichten a {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(24, 38, 50);
}

.rs-index-geologie>div {
    margin: 25px 25px;
    height: 200px;
    width: 350px;
    text-align: center;
}

.rs-index-geologie a {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: none;
    color: rgb(24, 38, 50);
}

.rs-index-geologie a b{
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
}

.rs-index-fundort>div {
    width: 400px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.rs-index-fundort img {
    max-width: 100%;
}

.rs-fundort-grid.is-loading {
    min-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif');
}

.rs-fundort-grid.is-loading img{
    opacity: 0;
}


@media only screen and (max-width: 1025px) {

    .rs-index-fundort>div {
        width: 200px;
    }
    
    .rs-index-reisesteine>div {
        width: 150px;
        height: 150px;
    }

    
    .rs-index-geschichten>div {
        height: 150px;
        width: 200px;
    }

    .rs-index-geschichten a {
        font-size: 2rem;
    }

    .rs-index-geologie>div {
        height: 150px;
        width: 200px;
    }

    .rs-index-geologie a {
        font-size: 1.5rem;
    }

    .rs-index-geologie a b{
        font-size: 2rem;
    }
}

/************************** TOOLTIP ******************************************/
.leaflet-tooltip.rs-tooltip {
    height: 160px;
    width: 160px;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: rgba(256, 256, 256, 0.8);
    white-space: normal;
    font-family: 'Sen', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: -1px;
    color: rgb(180, 30, 30);
    text-align: center;
}

.leaflet-tooltip.rs-tooltip span {
    font-family: 'Passion one', cursive;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: normal;
    display: block;
    line-height: 1.3rem;
    margin-top: 0.3rem;
}

.leaflet-tooltip.rs-tooltip div{
    margin: 20px 5px 0 5px;
}

.leaflet-tooltip.rs-tooltip:before {
    border-top-color: rgba(256, 256, 256, 0.8);
}


/************************** Title ******************************************/
#rs-title {
    position: absolute;
    top: 0;
    right: 0;
    z-Index: 4;
    width: auto;
    text-align: right;
    margin-top: 25px;
    margin-right: 50px;
    overflow: hidden;
}

#rs-title p{
    margin: -10px 0 0 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
}

#rs-title p:first-child{
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 6.5rem;
    text-transform: uppercase;
    color: white;
}



@media only screen and (max-width: 1025px) {
    #rs-title {
        top: auto;
        bottom: 50px;
        width: 90vw;
        margin-right: 30px;
        overflow: hidden;
    }

    #rs-title p {
        font-size: 1.4rem;
    }
    
    #rs-title p:first-child{
        font-size: 4rem;
    }
}

@media only screen and (max-width: 350px) {
    #rs-title p {
        font-size: 1.05rem;
    }
    
    #rs-title p:first-child{
        font-size: 3rem;
    }
}


/************************** About ******************************************/

#rs-about-wrapper>* {
    opacity: 0;
}

#rs-about-impressum {
    position: absolute;
    top: 20vh;
    left: 63vw;
    width: 20vw;
    padding-top: 18vw;
    z-index: 3;
    text-align: center;
}

#rs-about-impressum h3 {
    font-size: 1.7rem;
    line-height: 1.3;
}

#rs-about {
    z-index: 3;
    width: 40vw;
    height: 80vh;

    position: absolute;
    top: 20vh;
    left: 15vw;

    font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

#rs-about-wrapper a {
    text-decoration: none;
    color: rgb(180, 30, 30);
}
#rs-about-wrapper a:hover {
    text-decoration: none;
    color: rgb(180, 30, 30);
    font-weight: 700;
}

.rs-about-logos {
    display: flex; 
    flex-wrap: wrap;
    margin-top: 20px;
 }
 .rs-about-logos img {
     width: 200px;
 }

 .rs-about-logos #rs-eth-logo {
    margin-left:-20px;
}

#rs-about .rs-copyright {
    font-size: 0.6rem;
    color: grey;
}


@media only screen and (min-width: 1025px) and (max-height: 900px) {
    #rs-about {
        top:40px;
    }
}

@media only screen and (min-width: 1025px) and (max-height: 750px) {
    #rs-about-impressum h3 {
        font-size: 1.6rem;
        line-height: 1.2;
        white-space: nowrap;
    }

    #rs-about-impressum {
        padding-top: 18vw;
    }

    #rs-about {
        width: 45vw;
        height: 85vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: 10px;
    }

    .rs-about-logos img {
        width: 150px;
    }

    /* width */
    #rs-about::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    #rs-about::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    #rs-about::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    /* Handle on hover */
    #rs-about::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
    /* #rs-about .rs-copyright {
        display: none;
    } */
}

@media only screen and (max-width: 1025px) {
    #rs-about-wrapper {
        display: flex;
        flex-direction: column;
        height:100vh;
        overflow: scroll;
    }
    #rs-about {
        position:static;
        margin: 50px auto 50px auto;
        top: auto;
        left: auto;
        width: 90vw;
        height: auto;
    }
    #rs-about-impressum {
        position:static;
        margin-top: 25vh;
        top: auto;
        left: auto;
        width: 100vw;
        height: auto;
    }

    .rs-about-logos {
        flex-direction: column;
    }
}