{% extends "layouts/base_app.html" %}

{% block metadescription %}
{{_('Die Idee zur Ausstellung basiert auf dem Projekt «Nowhere – Die Spur der Steine» von Anna Sullivan und wurde von focusTerra weiterentwickelt.')}}
{% endblock %}

{% block canonical %}
        <link rel="alternate" hreflang="de" href="{{ url_for(request.endpoint, _external=True, lang_code='de', **request.view_args) }}" />
        <link rel="alternate" hreflang="en" href="{{ url_for(request.endpoint, _external=True, lang_code='en', **request.view_args) }}" />
{% endblock %}

{% block body %}
<noscript>
    <style>
        body.rs-frontend {
            overflow: visible!important;
        }
    </style>
</noscript>

<div id="map"></div>

<svg id="svg" class="overlay" width="100%" height="100%">
    <path id="svg-path" />
</svg>

<div id="rs-body" data-stein="{{id}}"></div>
<div id="rs-about-wrapper">
    <div id="rs-about-impressum">
        <h2><i>focus</i>&#8239;Terra</h2>
        <h3>ETH Zürich</h3>
        <h3>Sonneggstrasse 5</h3>
        <h3>8092 Zürich</h3>
        <h3>Schweiz</h3>
        <h3>+41 44 632 62 81</h3>
        <h3><a href="{{ url_for('reisesteine.focusTerra') }}">Email</a></h3>
    </div>

    <div id="rs-about">
        <h1>{{_('Über REISESTEINE')}}</h1>
        <p>
            {{_('Werden Sie auch immer wieder von Reiselust gepackt und der Sehnsucht, in die Welt hinauszuziehen? Reisen Sie mit Ihren Steinen ans Ende der Welt oder in Ihren Vorgarten. Die Ausstellung ist eine virtuelle Sammlung Ihrer Lieblingssteine von irgendwo auf der Welt und Ihrer Geschichte, die Sie damit verbinden. Entdecken Sie in der Ausstellung mehr über unsere gemeinsam erstellte Steinsammlung, ihre Fundorte und lernen Sie die damit verbundenen persönlichen und geologischen Geschichten kennen.')}}
        </p>
        <p>
            {{_('Die Idee zur Ausstellung basiert auf dem Projekt «Nowhere – Die Spur der Steine» von Anna Sullivan und wurde von <i>focus</i>&#8239;Terra weiterentwickelt. Die Umsetzung erfolgte gemeinsam mit Marion Deichmann und Nicolas Schmid.')}} 
        </p>
        <p>
            <b>{{_('Konzeptentwicklerin, Herausgeberin & Redaktion:')}}</b> <a href="https://focusterra.ethz.ch" target="_blank"><i>focus</i>&#8239;Terra</a><br/>
            <b>{{_('Gestaltung & technische Umsetzung:')}}</b> <a href="{{ url_for('reisesteine.marion') }}">Marion Deichmann</a> und <a href="{{ url_for('reisesteine.nicolas') }}">Nicolas Schmid</a>
        </p>
        <p class="rs-about-logos">
            <a href="https://ethz.ch" target="_blank"><img src=" {{ url_for('static', filename='img/eth_logo.svg') }} "/></a>
            <a href="https://focusterra.ethz.ch" target="_blank"><img src=" {{ url_for('static', filename='img/focusTerra_logo.svg') }} "/></a>
        </p>
        <p>
            <a href="https://focusterra.ethz.ch/footer/copyright.html" target="_blank">© 2020, focusTerra – ETH Zürich</a>
        </p>
        <p class="rs-copyright">
            {{_('Copyright
            Diese Webseite sowie ihre Teile sind urheberrechtlich geschützt und dürfen nur zum privaten, wissenschaftlichen und nicht gewerblichen Gebrauch kopiert und ausgedruckt werden. 
            Ohne vorgängige schriftliche Erlaubnis von focusTerra – ETH Zürich dürfen die Webseite sowie ihre Teile weder vervielfältigt noch auf anderen Servern gespeichert, in Newsgroups oder Online-Dienste eingespeist oder auf einer CD-ROM oder anderen Datenträgern gespeichert werden. Dies gilt insbesondere für das Logo von focusTerra. Die Zwischenspeicherung in einem Cache oder auf einem Proxy-Server zur Optimierung der Zugriffsgeschwindigkeit ist gestattet.')}}
            <br><br>
            {{_('Das Zitieren der Webseiteninhalte unter korrekten Quellenangaben sowie das Setzen von Links auf unsere Website ist ausdrücklich erlaubt.')}}
            <br><br>
            {{_('Die Urheberrechte sind nicht übertragbar.')}}
        </p>
    </div>
</div>

<div id="rs-site-content" style="margin-left: 150px;">^
    <div id="rs-stein-site-content">
    </div>
    <div id="rs-stein-site-index">
    </div>
</div>

<script>
    // if javascript isnt disabled, apply crucial styles, else fallback content is used
    document.getElementById('map').style.zIndex = 1;
    document.getElementById('map').style.backgroundColor = 'white';

    var data_index = {{ steine|tojson|safe }};
    var data_stein = {{ {} if not ste else ste|tojson|safe }};

</script>
<div id="rs-nav-rock-strings" style="display: none" data-ste="{{_('Stein')}}" data-gesch="{{_('Geschichte')}}" data-fund="{{_('Fundort')}}" data-geo="{{_('Geologie')}}">
</div>
{% endblock %}