{% extends "layouts/base.html" %}

{% block metadescription %}
{{_('Hat Ihnen auf einer Reise oder einem Spaziergang ein Stein gefallen, den Sie interessant oder einfach nur schön fanden? Dann machen Sie mit!')}}
{% endblock %}

{% block canonical %}
<link rel="alternate" hreflang="de"
    href="{{ url_for(request.endpoint, _external=True, lang_code='de', **request.view_args) }}" />
<link rel="alternate" hreflang="en"
    href="{{ url_for(request.endpoint, _external=True, lang_code='en', **request.view_args) }}" />
{% endblock %}

{% block navigation %}
<div id="rs-backend-navigation">
    <a id="rs-backend-logo" href="{{ url_for('reisesteine.index') }}">
        <img src="{{ url_for('static', filename='img/pfeil.svg') }}" style="transform: rotate(180deg);" />
    </a>
    <span id="rs-backend-lang">
        <a id="rs-small-de" href="{{ url_for(request.endpoint, lang_code='de') }}">de</a> /
        <a id="rs-small-en" href="{{ url_for(request.endpoint, lang_code='en') }}">en</a>
    </span>
</div>
{% endblock %}

{% block body %}

<div class="container pt-3 rs-mitmachen">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                <h1>{{_('Mitmachen')}}</h1>
                <p>
                    {{_('Hat Ihnen auf einer Reise oder einem Spaziergang ein Stein gefallen, den Sie interessant oder einfach nur schön fanden? Dann machen Sie mit! Schicken Sie uns ein Foto Ihres Steins und teilen Sie Ihre gemeinsame Geschichte mit uns. Je mehr Menschen mitmachen, desto reicher wird unsere Sammlung. Laden Sie Freunde und Familie überall auf der Welt ein, gemeinsam mit uns auf Reisen zu gehen.')}}<br>
                </p>
                <p>
                    {{_('Wir freuen uns auf Ihre Reisesteine!')}}
                </p>
                <p>
                    {{_('Hier finden Sie eine Anleitung: <a href="https://youtu.be/AGX36kK1o2A" target="_blank">https://youtu.be/AGX36kK1o2A</a>')}}
                </p>
                <p>
                    <small class="text-muted form-text">
                        {{_('Bitte beachten Sie, dass in einigen Ländern und an einigen Orten die Mitnahme von Steinen aus der Natur verboten ist und unter Strafe steht. Bitte informieren Sie sich über die lokalen rechtlichen Vorgaben. Und auch dort, wo es erlaubt ist, darf dies nur in geringen Mengen und für den eigenen Gebrauch geschehen. Idealerweise nehmen Sie nur schöne Steinfotos mit. Die Mitnahme von bearbeiteten, antiken Gesteinen ist grundsätzlich untersagt.')}}
                    </small>
                </p>
                <p class="mt-4">
                    <small>{{_('* Diese Felder werden benötigt')}}</small>
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <h2>{{_('Personalien')}}</h2>
                <small class="form-text text-muted mb-3">
                    {{_('Die Publikation erfolgt mit Angabe des Vornamens und des Wohnorts, ohne Ihre Kontaktangaben.')}}
                </small>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            {{ form.vorname.label(class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form.vorname(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form.nachname.label(class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form.nachname(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form.wohnort.label(class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form.wohnort(class_="form-control") }}
                                {% for error in form.wohnort.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ form.email.label(class_="col-sm-4 col-form-label") }}
                            <div class="col-sm-8">
                                {{ form.email(class_="form-control" + (" is-invalid" if form.email.errors else "")) }}
                                {% for error in form.email.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.telefon.label }}
                                {{ form.telefon(class_="form-control") }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.instagram.label }}
                                {{ form.instagram(class_="form-control") }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.twitter.label }}
                                {{ form.twitter(class_="form-control") }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.facebook.label }}
                                {{ form.facebook(class_="form-control") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>{{_('Stein')}}</h2>
                <small class="form-text text-muted mb-3">
                    <br><br>
                </small>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <small class="form-text text-muted">
                                {{_('Geben Sie den Namen des Ortes, an dem Sie den Stein gefunden haben, möglichst genau an: z.B. unter Lokalität/Ort: Ätna, Sizilien; unter Land: Italien.')}}
                            </small>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.herkunft.label }}
                                {{ form.herkunft(class_="form-control") }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.land.label }}
                                {{ form.land(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.latitude.label }}
                                <a class="rs-form-popover" data-toggle="modal" data-target="#coords-modal">
                                    <img class="rs-form-info"
                                        src="{{ url_for('static', filename='img/info-circle-solid.svg') }}" />
                                </a>
                                {{ form.latitude(class_="form-control" + (" is-invalid" if form.latitude.errors else "")) }}
                                {% for error in form.latitude.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.longitude.label }}
                                <a class="rs-form-popover" data-toggle="modal" data-target="#coords-modal">
                                    <img class="rs-form-info"
                                        src="{{ url_for('static', filename='img/info-circle-solid.svg') }}" />
                                </a>
                                {{ form.longitude(class_="form-control" + (" is-invalid" if form.longitude.errors else "")) }}
                                {% for error in form.longitude.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="modal fade" id="coords-modal" tabindex="-1" role="dialog"
                                aria-labelledby="coords-modal-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="coords-modal-label">
                                                {{_('Längen- und Breitengrade')}}
                                            </h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>{{_('Wie finde ich die korrekten Koordinaten?')}}</h5>
                                            <p>
                                                {{_('Auf <a href="https://www.google.ch/maps" target="_blank">Google Maps</a> können Sie mit der rechten Maustaste auf den gewünschten Ort oder Bereich der Karte klicken. Danach wählen Sie "Was ist hier?" aus. Die Koordinaten werden daraufhin im unteren Bildschirmbereich angezeigt.')}}
                                            </p>
                                            <p>
                                                {{_('Mehr Informationen dazu finden Sie <a href="https://support.google.com/maps/answer/18539?co=GENIE.Platform&percnt;3DDesktop&hl=de" target="_blank">hier</a>.')}}
                                            </p>
                                            <h5>{{_('Schreibweise')}}</h5>
                                            <p>
                                                {{_('Zur Eingabe kann entweder die Koordinatenschreibweise mit <span class="font-italic">11°11\'11.0\"N, 11°11\'11.0\"E</span> verwendet werden, oder die Schreibweise in Dezimalzahlen <span class="font-italic">11.123456789, 11.123456789.</span>')}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small class="form-text text-muted">
                                    {{_('Laden Sie bis zu drei <b>Nah</b>aufnahmen des Steins hoch. Das Bild sollte scharf und so hoch aufgelöst wie möglich sein. Idealerweise benutzen Sie einen weissen oder hellen Hintergrund (z.B. heller Sand, weisser Stoff oder Papier).')}}
                                    <br><br>
                                    {{_('Für eine bessere Einschätzung, um was für einen Stein es sich handelt, hilft es uns, mehrere Fotos des Steins zu haben. ')}}
                                </small>
                            </div>
                            <div class="form-group">
                                {{ form.bild_stein.label }}
                                {{ form.bild_stein(class_="form-control-file" + (" is-invalid" if form.bild_stein.errors else "")) }}
                                <small id="steinHelp"
                                    class="form-text text-muted">{{_('Für das Hochladen mehrerer Bilder (max. 3 Files à 8 MB) wählen Sie bitte alle Files gleichzeitig aus.')}}</small>
                                <div id="fileListStein">
                                </div>
                                {% for error in form.bild_stein.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <small class="form-text text-muted">
                                    {{_('Laden Sie bis zu drei <b>Natur</b>aufnahmen des Fundortes hoch, gerne mit Horizont und wenn möglich im Querformat. Die Landschaft sollte erkennbar sein, z.B. ein Strand, Berg oder Ihr Garten; mit oder ohne Personen. ')}}
                                </small>
                            </div>
                            <div class="form-group">
                                {{ form.bild_herkunft.label }}
                                {{ form.bild_herkunft(class_="form-control-file" + (" is-invalid" if form.bild_herkunft.errors else "")) }}
                                <small id="herkunftHelp"
                                    class="form-text text-muted">{{_('Für das Hochladen mehrerer Bilder (max. 3 Files à 8 MB) wählen Sie bitte alle Files gleichzeitig aus.')}}</small>
                                <div id="fileListHerkunft">
                                </div>
                                {% for error in form.bild_herkunft.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <small class="form-text text-danger">
                                    {{_('Bitte laden Sie nur Bilder hoch, über deren Verwendungsrechte Sie verfügen. Bei einer Urheberrechtsverletzung lehnt <i>focus</i>&#8239;Terra jegliche Verantwortung ab. ')}}
                                </small>
                            </div>


                            <script>
                                function updateList(inputSel, fileList) {
                                    var input = document.getElementById(inputSel);
                                    var output = document.getElementById(fileList);
                                    var children = "";
                                    console.log(input.files);
                                    for (var i = 0; i < input.files.length; ++i) {
                                        children += '<li>' + input.files.item(i).name + ' (' + Math.round(input.files.item(i).size / 1024 / 1024 * 100) / 100 + 'MB)</li>';
                                    }
                                    output.innerHTML = '<ul>' + children + '</ul>';
                                }
                                document.getElementById('bild_stein').addEventListener('change', function () { updateList('bild_stein', 'fileListStein'); });
                                document.getElementById('bild_herkunft').addEventListener('change', function () { updateList('bild_herkunft', 'fileListHerkunft'); });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="form-group">
                    {{ form.titel.label(class_="mb-0") }}
                    <small class="form-text text-muted mb-1 mt-0">
                        {{_('Geben Sie einen möglichst kurzen, kreativen und aussagekräftigen Titel für Ihre persönliche Geschichte ein. Ideen finden Sie unter ')}}
                        <a href="{{url_for('reisesteine.geschichten')}}" target="_blank">{{_('Geschichten')}}</a>.
                    </small>
                    {{ form.titel(class_="form-control", maxlength="25") }}
                    <small id="titelhelp" class="form-text text-muted"><span id="current_titel">0</span>/ 25</small>
                </div>
                <div class="form-group">
                    {{ form.pers_geschichte.label(class_="mb-0") }}
                    <small class="form-text text-muted mb-1 mt-0">
                        {{_('Schreiben Sie Ihre persönliche Geschichte zum Stein und zum Fundort oder zur Reise. Ideen: Wieso haben Sie den Stein für die Ausstellung ausgewählt? Warum und mit wem waren Sie an dem Fundort? Woran erinnern Sie sich gerne, wenn Sie an die Reise denken? Was bedeutet die Erinnerung für Sie?')}}
                    </small>
                    {{ form.pers_geschichte(class_="form-control", rows=5, maxlength="400") }}
                    <small id="geschHelp" class="form-text text-muted"><span id="current_geschichte">0</span>/
                        400</small>
                </div>
                <div class="form-group">
                    {{ form.geo_geschichte.label(class_="mb-0") }}
                    <small class="form-text text-muted mb-1 mt-0">
                        {{_('Wenn Sie die Geologie des Steines kennen, können Sie hier den Text dazu schreiben. Oder teilen Sie uns mögliche Hinweise oder Vermutungen mit, um was für einen Stein es sich handeln könnte.')}}
                    </small>
                    {{ form.geo_geschichte(class_="form-control", rows=5) }}
                </div>
                <div class="form-group">
                    {{ form.bemerkungen.label(class_="mb-0") }}
                    <small
                        class="form-text text-muted mb-1 mt-0">{{_('Haben Sie noch weitere Informationen für uns? ')}}</small>
                    {{ form.bemerkungen(class_="form-control", rows=5) }}
                </div>

                <div class="form-group">
                    {{ form.recaptcha }}
                    {% if form.recaptcha.errors|length > 0 %}
                    <p class="uk-text-danger">reCaptcha verification Failed</p>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <p>
                    {{_('Mit dem Einsenden Ihrer Informationen übertragen Sie die Rechte an Ihren Bildern und Geschichten an <i>focus</i>&#8239;Terra und erklären sich mit ihrer Veröffentlichung einverstanden.')}}
                </p>
            </div>
            <div class="col-12">
                <div class="form-check">
                    {{ form.newsletter(class_="form-check-input") }}
                    {{ form.newsletter.label(class_="form-check-label")}}
                </div>
            </div>
            <div class="col-12 mt-4">
                {{ form.submit(class_="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('reisesteine.mitmachen') }}"
                    onclick="return confirm('{{_('Möchten Sie die Änderungen verwerfen?')}}')">{{_('Verwerfen')}}</a>
            </div>
        </div>
    </form>
    </br>
    </br>
    </br>
</div>

<script>
    document.getElementById('current_geschichte').innerHTML = document.getElementById('pers_geschichte').value.length;
    document.getElementById('pers_geschichte').addEventListener('keyup', function (e) {
        document.getElementById('current_geschichte').innerHTML = this.value.length;
    });
    document.getElementById('current_titel').innerHTML = document.getElementById('titel').value.length;
    document.getElementById('titel').addEventListener('keyup', function (e) {
        document.getElementById('current_titel').innerHTML = this.value.length;
    });
</script>


{% endblock %}