{% extends "layouts/base.html" %}

{% block metadescription %}
{{_('Haben Sie auf Ihrer Reisen einen Stein gefunden, den Sie interessant finden oder der Sie einfach an Ihre Reise oder ein Ereignis erinnert? Dann machen Sie mit!')}}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Mitmachen</h1>
            <p>
                Haben Sie auf einer Ihrer Reisen einen Stein gefunden, der Ihnen gefällt, den Sie interessant finden oder der Sie einfach an Ihre Reise oder ein Ereignis erinnert? Dann machen Sie mit! Je mehr Menschen mitmachen, desto reicher wird unsere Sammlung. Bitte laden Sie Freunde und Familie überall auf der Welt ein, gemeinsam mit uns auf Reisen zu gehen.<br>
                Wir freuen uns auf Ihre Reisesteine!
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2>Personalien</h2>
            <div class="row">
                <div class="col-lg-6">
                    <input class="form-control">
                </div>
            </div>
        </div>    
    </div>
    <div class="row mt-5">
        <div class="col">
            <h2>Stein</h2>
            <div class="row">
                <div class="col-lg-6">
                    <input class="form-control">
                    <p>
                        Bitte laden Sie nur Bilder hoch, über deren Verwendungsrechte Sie verfügen. Bei einer Urheberrechtsverletzung lehnt focusTerra jegliche Verantwortung ab.
                    </p>
                </div>
            </div>
        </div>    
    </div>
    <div class="row mt-5">
        <div class="col">
            <p>
                Mit dem Einsenden Ihrer Informationen übertragen Sie die Rechte an Ihren Bildern und Geschichten an focusTerra und erklären sich mit einer Veröffentlichung Ihrer Bilder und Geschichten einverstanden. Die Publikation erfolgt mit Angabe des Vornamens und des Wohnorts, ohne Ihre Kontaktangaben.
            </p>
            <button class="btn btn-primary">Absenden</button>
        </div>
    </div>


    
</div>


{% endblock %}