{% extends "layouts/base.html" %}

{% block body %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header">Absender</h5>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.vorname.label }}<br>
                            {{ form.vorname(class_="form-control") }}<br>
                        </div>
                        <div class="form-group">
                            {{ form.nachname.label }}<br>
                            {{ form.nachname(class_="form-control") }}<br>
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}<br>
                            {{ form.email(class_="form-control") }}<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <h5 class="card-header">Stein</h5>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.gestein.label }}<br>
                                {{ form.gestein(class_="form-control") }}<br>
                            </div>

                            <div class="form-group col-md-6">
                                {{ form.herkunft.label }}<br>
                                {{ form.herkunft(class_="form-control") }}<br>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.longitude.label }}<br>
                                {{ form.longitude(class_="form-control") }}<br>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.latitude.label }}<br>
                                {{ form.latitude(class_="form-control") }}<br>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.titel.label }}<br>
                            {{ form.titel(class_="form-control") }}<br>
                        </div>
                        <div class="form-group">
                            {{ form.bild_stein.label }}<br>
                            {{ form.bild_stein(class_="form-control-file") }}<br>
                        </div>
                        <div class="form-group">
                            {{ form.bild_herkunft.label }}<br>
                            {{ form.bild_herkunft(class_="form-control-file") }}<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    {{ form.pers_geschichte.label }}<br>
                    {{ form.pers_geschichte(class_="form-control", rows=10) }}<br>
                </div>
                <div class="form-group">
                    {{ form.geo_geschichte.label }}<br>
                    {{ form.geo_geschichte(class_="form-control", rows=10) }}<br>
                </div>
            </div>
            <div class="col-12">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>
    <br><br><br>
</div>

{% endblock %}