<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block metadescription %}{% endblock %}">

        <title>Reisesteine</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"></script>

	    <script type="text/javascript" src="{{ url_for('static', filename='js/ext/bootstrap.min.js') }}"></script>	

    </head>

    <body> 
        {% block body %}{% endblock %}
    </body>
</html>
